body{
    background: gray;
    color: gray;
    max-height: 700px;
  }

.inputs {
    margin:auto;
    display: flex;
    flex-flow: row wrap;
    max-width: 400px;
}

.keys {
    font-size: 50px;
    width: 100px;
    height: 100px;
}

.operator {
    background-color: cornflowerblue;
}

.clear {
    background-color: red;
}

.output{
    font-size: 25px;
    text-align: right;
    overflow-wrap: break-word;
    height: 100px;
    width: 300px;
    border: .2rem solid black;
    background-color: black;
    color: lightgray;
}